.title{
    font-family: 'Times New Roman';
    
}
.containerT{
    background-color: rgb(255, 238, 215);
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-color: rgb(252, 176, 35);
    border-width: 40px;
    }
.containerH{
    background-color: rgb(38, 50, 117);
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.container1{
    background-color: rgb(38, 50, 117);
}
.container2{
    background-color: rgb(38, 50, 117);
}
.subtitle1{
    font-size: medium;
    
}
.subtitle2{
    font-size: medium
}
.subtitle3{
    font-size: medium
}
    