.title{
    font-family: 'Times New Roman', Times, serif;
    border-color: rgb(252, 176, 35);
    border-width: 10px;
}
.containerT{
    background-color: antiquewhite;
    width: 18%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
.containerH{
    background-color: rgb(38, 50, 117);
    width: 18%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
    